* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}


/* Overall styles */

.spot-detail-container {
    margin: 0 auto;
    max-width: 1000px;
    width: 100%;
    padding: 20px;
    justify-content: center;
    margin-top: 90px;
    display: flex;
    flex-direction: column;
}

.spot-details {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
  }

  /* Header */

  .spot-details h1 {
    display: flex;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .spot-details h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #777;
  }

  /* Image gallery */

  .image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    margin-bottom: 20px;
  }

  .main-spot-img {
    display: flex;
    width: 675px;
    height: 450px;
  }

  .spot-img-filter {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 500px;
    height: 450px;
    border-radius: 20px;
    border: solid 1px black;
  }

  .image-grid img {
    width: 50%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
  }

  .image-grid img:hover {
    transform: scale(1.05);
  }

  /* Host info */

  .host-text {
    margin-bottom: 20px;
  }

  .host-text h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .host-text p {
    font-size: 16px;
    color: #777;
    line-height: 1.5;
  }

  /* Reviews */

  .review-box {
    margin-bottom: 20px;
  }

  .review-box h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .review-box p {
    font-size: 16px;
    color: #777;
    line-height: 1.5;
  }

  .review-box {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #f7f7f7;
    border-radius: 50px;
    padding: 8px 12px;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #484848;
    margin-right: 16px;
  }

  .star-rating {
    margin-right: 6px;
    color: #FF385C;
  }

  .reserve-button {
    background-color: #FF5A5F;
    color: white;
    border-radius: 50px;
    padding: 12px 24px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .reserve-button:hover {
    background-color: #E5444E;
  }

  .review-box{
    border: 1px solid black;
    border-radius: 1px;
    display: flex;
    justify-content: center;
    flex-direction:row;
    max-width: 300px;
  }
