.spot-name-loc-detail {
    /* border: 1px solid red; */
}

#spot-box {
    display: flex;
    justify-content: center;
}

#spot-detail-info {
    /* border: 1px solid green; */
}

.spot-image {
    display: flex;
    padding-bottom: 10px;
    /* border: 1px solid orange; */
}

#main-spot-image {
    display: flex;
    width: 675px;
    height: 450px;
    /* border: 1px solid black; */
}

.spot-image-overlay {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 500px;
    height: 450px;
    border-radius: 20px;
    /* border: 2px solid red; */
}

#spotImage1 {
    width: 229px;
    height: 222px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 20px;
}

#spotImage2 {
    width: 229px;
    height: 222px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 20px;
}

#spotImage3 {
    width: 229px;
    height: 222px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 20px;
}

#spotImage4 {
    width: 229px;
    height: 222px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 20px;
}

#spotImage5 {
    width: 229px;
    height: 222px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 20px;
}

#hosted {
    font-size: x-large;
    padding-bottom: 10px;
    width: 50%;
}

#description {
    width: 50%;
    font-size: large;
    margin-left: 10px;
}

#hosted-description {
    display: flex;
    width: 600px;
    flex-direction: column;
}

#hosted-description-rating-box {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid green; */
}

#rat-rev-box {
    display: flex;
    justify-content: flex-end;
    /* border: 3px solid black; */
}

#rating-review-box {
    display: flex;
    justify-content: flex-end;
    width: 45%;
    /* border: 1px solid blue; */
}

#test {
    border-radius: 10px;
    height: 150px;
    border: 3px solid black;
}

#rating-review {
    display: flex;
    justify-content: space-between;
    width: 450px;
    height: fit-content;
    margin-top: 20px;
    /* padding-top: 10px; */
    /* border: 3px solid green; */
}

#price {
    display: flex;
    justify-content: flex-start;
    font-size: x-large;
    width: 50%;
    height: fit-content;
    padding-left: 20px;
    /* border: 1px solid black; */
}

#stars-review {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    height: fit-content;
    font-size: x-large;
    /* border: 1px solid orange; */
}

#reserve-button {
    display: flex;
    justify-content: center;
    /* border: 1px solid red; */
}

#reserve {
    width: 75%;
    height: 50px;
    margin-top: 15px;
    background-color: red;
    color: white;
    box-shadow: 4px 4px 0px 0px #000000;
}

.centered-dot {
    font-weight: bold;
    font-size: x-large;
}

#reviews-box {
    display: flex;
    justify-content: flex-start;
    margin-top: 15px;
    border-top: 2px solid lightgray;
    /* border: 2px solid blue; */
}

#reviews-box #stars-review {
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
    width: 15%;
    /* border: 2px solid blue; */
}

#review-map {
    display: flex;
    flex-direction: column;
    height: 100%;
    /* border: 2px solid red; */
}

#first-name {
    font-weight: bold;
    color: black;
    padding: 0px;
    padding-bottom: 5px;
    /* border: 2px solid blue; */
}

#createdAt {
    color: lightgray;
    padding: 0px;
    padding-bottom: 5px;
    /* border:1px solid red; */
}

#review-description {
    /* border: 1px solid green; */
}
