

.spot-detail-container {
    max-width: 1120px;
    margin: 0 auto;
    padding: 80px 0;
  }

  .spot-detail-container h1 {
    font-size: 48px;
    font-weight: 800;
    line-height: 58px;
    margin-bottom: 8px;
  }

  .spot-detail-container h2 {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: #484848;
    margin-bottom: 32px;
  }

  .image-container {
    display: flex;

    flex-wrap: wrap;
    /* width: 100%;
    height: 100%; */
    width: 1120px;
    height: 350px;
    flex-direction: column;
    align-items:flex-start;
    margin-bottom: 50px;
  }
/*
  .image-grid {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    border: solid 5px black;
    flex-basis: 100%;
  } */

  .main-spot-img {
    width: 50%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    object-fit: cover;

  }

  .images-box {
    display: flex;

  }
  .main-spot-img img {
    width: 100%;
    height: 375px;
    object-fit: cover;
    display: flex;

    flex-wrap: wrap;
  }

  .spot-img-filter {
    width: 50%;
    /* height: 100%; */
    height: 185px;

    box-sizing: border-box;
    align-items: center;

  }

  .spot-img-filter img {
    width: 50%;
    /* height: 350px; */
    /* height: calc(50% - 16px); */
    height: 100%;
    /* margin-bottom: 16px; */

    box-sizing: border-box;
  }
/*
  @media screen and (min-width: 768px) {
    .spot-img-filter img {
      width: calc(50% - 10px);
      height: 100%;
      margin-bottom: 10px;
    }
  } */
  .spot-info {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  .host-text {
    width: 50%;
    margin-right: 32px;
  }

  #host-info {
    font-size: 24px;
    font-weight: 800;
    line-height: 28px;
    margin-bottom: 16px;
  }

  .description-container {
    display: flex;
    width: 500px;
    height: 200px;
    /* background-color: ; */
    border: solid 3px black;
    border-radius: 10px;
  }

  .description-container:hover {
    box-shadow: 2px 2px 2px black;
  }

  .spot-description {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    /* margin-bottom: 32px; */
    white-space: normal;
    padding: 10px;
    max-width: 500px;
    overflow: hidden;
    word-wrap: break-word;

  }

  .rating-container {
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .review-box {
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    background-color: #fff;
    border: solid 3px black;
    border-radius: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
  }
  .price-per-night {
    display: flex;
    margin-right: 100px;
  }
  .review-box-top {
    display: flex;
    justify-content: space-between;
    align-self: center;
  }
  .price-per-night h1 {
    font-size: 24px;
    font-weight: 800;
    line-height: 28px;
    margin-bottom: 16px;
  }

  .star-rating {
    font-size: 16px;
    font-weight: 800;
    line-height: 20px;
    color: #ff385c;
  }

  .dot {
    margin: 0 8px;
    font-size: 25px;
    font-weight: 800;
    line-height: 20px;
    color: black;
    font-weight: bold;
  }

  .reviews {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #484848;
  }

  .reserve-button {
    width: 100%;
    height: 48px;
    margin-top: 16px;
    font-size: 16px;
    font-weight: 800;
    line-height: 20px;
    color: #fff;
    background-color: #ff284f;
    border: solid 3px black;
    box-shadow: 4px 4px 0px 0px #000000;

    /* border-radius: 4px; */
    cursor: pointer;
    transition: background-color 0.2s ease;
  }

  .reserve-button:hover {
    background-color: #ff576b;
  }

  .review-content {
    width: 100%;
    margin-top: 32px;
    border-top: solid 4px black;
  }

  .review-content-top {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .post-review-button {
    background-color: gray;
    padding: 5px;
    color: white;
    border: solid 3px black;
    box-shadow: 4px 4px 0px 0px #000000;
  }

  .num-reviews {
    margin-top: 4px;
  }
