.footer {
    color: white;
    padding: 10px 0;
    padding-top: 50px;
    /* position: fixed; */
    bottom: 0;
    width: 100%;
    text-align: center;
}

.footer a {
    color: #61dafb;
    margin: 0 10px;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}
